<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Post</title>
<link rel="stylesheet" href="template.css">
</head>
<body data-template="post">
<div class="canvas">
  <div class="bg" aria-hidden="true"><div class="glow"></div></div>
  <div id="safe">
    <img id="lockup" alt="">
    <div id="text">
      <div id="stat"></div>
      <h1 id="headline"></h1>
    </div>
  </div>
  <div id="shot-wrap"><img id="shot" alt=""></div>
</div>
<script src="template.js"></script>
</body>
</html>
